.photo-editor__wrapper {
  width: 100%;
  padding-top: 20px;
  background-color: $grey-light;

  @media (min-width: $tablets) {
    @include container();
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.photo-editor__form {
  margin: 0 auto;

  @media (min-width: $tablets) {
    display: flex;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.photo-editor__image-wrapper {
  @media (max-width: $phones-max) {
    @include container();
    height: 375px;
  }

  @media (min-width: $tablets) {
    margin-right: 20px;
  }

  @media (min-width: $desktop) {
    margin-right: 70px;
  }
}

.photo-editor__image {
  width: 280px;
  height: 375px;
  margin: 0 auto;

  @media (min-width: $tablets) {
    width: 300px;
    height: 400px;
  }
}

.photo-editor__settings {
  display: flex;
  flex-direction: column;
}

.photo-editor__settings-wrapper {
  margin-top: 40px;

  @media (min-width: $tablets) {
    margin-top: 0;
    padding: 0 20px;
  }
}

.photo-editor__list {
  width: 280px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;

  @media (max-width: $phones-max) {
    position: relative;
    padding-bottom: 70px;
  }

  @media (min-width: $tablets) {
    width: 300px;
  }

  @media (min-width: $desktop) {
    width: 410px;
  }
}

.photo-editor__item {
  @media (max-width: $phones-max) {
    display: inline-block;
    vertical-align: top;
  }

  @media (min-width: $tablets) {
    display: flex;
    align-items: center;
    padding: 25px 0;
    box-shadow: inset 0 -1px #dddfe0;

    &:first-child {
      padding-top: 0;
    }
  }

  @media (min-width: $desktop) {
    padding: 20px 0;
  }
}

.photo-editor__item-name {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  margin-left: 16px;
  width: 48px;
  height: 50px;

  @media (min-width: $tablets) {
    margin-right: 0;
    margin-left: 0;
    width: 25px;
    height: 25px;
  }

  @media (min-width: $desktop) {
    width: 45px;
    height: 47px;
  }
}

.photo-editor__icon {
  fill: rgba($blue-dark, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    fill: rgba($blue-dark, 0.5);
    cursor: pointer;
  }

  &:active {
    fill: $pink;
  }

  @media (min-width: $tablets) {
    fill: $pink;
  }

  &--active {
    fill: $pink;
  }

  &--crop {
    width: 48px;
    height: 48px;
  }

  &--fill {
    width: 48px;
    height: 48px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  @media (min-width: $tablets) {
    width: 25px;
    height: 25px;
  }

  @media (min-width: $desktop) {
    width: 45px;
    height: 47px;
  }
}

.photo-editor__control {
  @media (max-width: $phones-max) {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 28px;
    background-color: $grey-light;
  }

  &--crop {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $tablets) {
    width: 100%;
    padding: 0 20px;
  }
}

.photo-editor__range {
  position: relative;
  height: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.photo-editor__range-scale {
  height: 2px;
  background-color: #283645;
}

.photo-editor__range-value {
  height: 2px;
  width: 50%;
}

.photo-editor__range-btn {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 80%;
  transform: translateX(-50%);
  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  outline: none;

  &:active,
  &:focus {
    background-color: $pink;
  }
}

.photo-editor__btn-wrapper {
  position: relative;

  @media (max-width: $phones-max) {
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dddfe0;
    }
  }

  @media (min-width: $desktop) {
    width: 410px;
  }
}

.photo-editor__btns {
  padding-top: 40px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;

  @media (max-width: $phones-max) {
    @include container();
  }

  @media (min-width: $tablets) {
    padding-top: 53px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }
}

